/* src/POPOSSpace.css */

.POPOSSpace {
  width: 100%;
  text-align: center;
  color: #555;
}

.POPOSSpace h3 {
  color: #222;
}

.POPOSSpace > img {
  width: 90%;
  height: auto;
}

.parent {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.foreground {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
}

a > div .foreground { display: none; }
a:hover > div .foreground { display: block; }

.POPOSSpace a {
  text-decoration: none;
}
